.version.index /* version checker */
{
	color: #00001A;
	background-color: #2AFDF5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #7F7F7F;
}

#pamphletu1207
{
	z-index: 37;
	width: 0.01px;
	height: 55px;
	padding-bottom: 204px;
}

#u1208
{
	z-index: 38;
	width: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 20px;
}

#u1210
{
	width: 14px;
	height: 82px;
	top: -29px;
	left: -20px;
}

#u1211
{
	width: 32px;
	top: -29px;
	left: -6px;
	padding: 29px 12px 25.19999999999999px 6px;
}

#u1211.PamphletThumbSelected
{
	width: 32px;
	min-height: 0px;
	margin: 0px;
}

#u1278
{
	z-index: 43;
	width: 32px;
	height: 5px;
}

#u1211.PamphletThumbSelected #u1278
{
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u1276
{
	z-index: 41;
	width: 32px;
	height: 5px;
	margin-top: 6px;
}

#u1211.PamphletThumbSelected #u1276
{
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u1277
{
	z-index: 42;
	width: 32px;
	height: 5px;
	margin-top: 5px;
}

#u1211.PamphletThumbSelected #u1277
{
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#u1214popup
{
	z-index: 44;
}

#u1214
{
	width: 178px;
	top: 81px;
}

#u1217
{
	z-index: 45;
	width: 178px;
	height: 178px;
	margin-right: -10000px;
}

.ie #u1210,.ie #u1217
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1216
{
	z-index: 46;
	width: 177px;
	height: 177px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#menuu1222
{
	z-index: 47;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1223
{
	width: 180px;
}

#u1224
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1224:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1224:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1227-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1224:hover #u1227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1224:active #u1227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1233
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1224.MuseMenuActive,#u1233:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1233:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1236-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1224.MuseMenuActive #u1227-4,#u1233:hover #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1233:active #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1238
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1233.MuseMenuActive,#u1238:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1238:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1241-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1233.MuseMenuActive #u1236-4,#u1238:hover #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1238:active #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1245
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1238.MuseMenuActive,#u1245:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1245:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1246-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1238.MuseMenuActive #u1241-4,#u1245:hover #u1246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1245:active #u1246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1230,#u1237,#u1244,#u1251
{
	width: 180px;
	margin-top: 2px;
}

#u1252
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1245.MuseMenuActive,#u1252:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1252:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1252.MuseMenuActive
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1254-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1245.MuseMenuActive #u1246-4,#u1252:hover #u1254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1252:active #u1254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1252.MuseMenuActive #u1254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#pu1273
{
	width: 0.01px;
	margin-top: -259px;
}

#u1273
{
	z-index: 36;
	width: 64px;
	height: 80px;
	margin-right: -10000px;
}

#u158
{
	z-index: 34;
	width: 315px;
	margin-right: -10000px;
	left: 64px;
}

#pamphletu1718
{
	z-index: 78;
	width: 0.01px;
	height: 35px;
	padding-bottom: 657px;
	top: -178px;
	margin-bottom: -178px;
	position: relative;
}

#u1729
{
	z-index: 79;
	width: 378px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1730
{
	position: absolute;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	padding-bottom: 12px;
	top: -13px;
}

#u1730:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1733-4
{
	z-index: 81;
	width: 70px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -1px;
}

#u1730:hover #u1733-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 12px -10000px 0px 0px;
}

#u1730:active #u1733-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 12px -10000px 0px 0px;
}

#u1730:hover #u1733-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1730:active #u1733-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1745
{
	position: absolute;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	padding-bottom: 12px;
	top: -13px;
	left: 77px;
}

#u1745:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1734-4
{
	z-index: 86;
	width: 69px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1745:hover #u1734-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 69px;
	margin: 12px -10000px 0px 0px;
}

#u1745:active #u1734-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 69px;
	margin: 12px -10000px 0px 0px;
}

#u1745.PamphletThumbSelected #u1734-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 69px;
	margin: 12px -10000px 0px 0px;
}

#u1745:hover #u1734-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1745:active #u1734-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1747
{
	position: absolute;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	padding-bottom: 11px;
	top: -13px;
	left: 154px;
}

#u1747:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1735-4
{
	z-index: 91;
	width: 70px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: -1px;
}

#u1747:hover #u1735-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 13px -10000px 0px 0px;
}

#u1747:active #u1735-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 13px -10000px 0px 0px;
}

#u1747.PamphletThumbSelected #u1735-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 13px -10000px 0px 0px;
}

#u1747:hover #u1735-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1745.PamphletThumbSelected #u1734-4 p,#u1747:active #u1735-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1730.PamphletThumbSelected #u1733-4 p,#u1747.PamphletThumbSelected #u1735-4 p
{
	color: #000000;
	visibility: inherit;
}

#u1749
{
	position: absolute;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	padding-bottom: 11px;
	top: -13px;
	left: 231px;
}

#u1749:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1739-4
{
	z-index: 96;
	width: 69px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u1749:hover #u1739-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 69px;
	margin: 13px -10000px 0px 0px;
}

#u1749:active #u1739-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 69px;
	margin: 13px -10000px 0px 0px;
}

#u1749.PamphletThumbSelected #u1739-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 69px;
	margin: 13px -10000px 0px 0px;
}

#u1749:hover #u1739-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1749:active #u1739-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1751
{
	position: absolute;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	padding-bottom: 12px;
	top: -13px;
	left: 308px;
}

#u1751:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1730.PamphletThumbSelected,#u1745.PamphletThumbSelected,#u1747.PamphletThumbSelected,#u1749.PamphletThumbSelected,#u1751.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #00A2E8;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1743-4
{
	z-index: 101;
	width: 70px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -1px;
}

#u1730.PamphletThumbSelected #u1733-4,#u1751:hover #u1743-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 12px -10000px 0px 0px;
}

#u1751:active #u1743-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 12px -10000px 0px 0px;
}

#u1751.PamphletThumbSelected #u1743-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 12px -10000px 0px 0px;
}

#u1751:hover #u1743-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1749.PamphletThumbSelected #u1739-4 p,#u1751:active #u1743-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1751.PamphletThumbSelected #u1743-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1719
{
	position: absolute;
	width: 381px;
	background-color: transparent;
	top: 44px;
}

#u1719popup
{
	z-index: 105;
}

#u1720
{
	z-index: 106;
	width: 379px;
	height: 467px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 170px;
	margin-right: -10000px;
	position: relative;
}

#u2112-6
{
	z-index: 119;
	width: 376px;
	min-height: 28px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #169666;
	margin-left: 2px;
	position: relative;
}

#u2112
{
	color: #009BDA;
	font-weight: bold;
}

#u2112-3
{
	font-weight: bold;
}

#slideshowu2003
{
	z-index: 107;
	width: 0.01px;
	height: 139px;
	margin-left: 2px;
	position: relative;
}

#u2006
{
	position: absolute;
	width: 376px;
	height: 139px;
	background-color: transparent;
}

#u2006popup
{
	z-index: 108;
}

#u2011
{
	z-index: 109;
	width: 376px;
	height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2011_img
{
	margin: 10px -3px 10px -2px;
}

#u2098
{
	z-index: 111;
	width: 376px;
	height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2066
{
	z-index: 113;
	width: 376px;
	height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2075
{
	z-index: 115;
	width: 376px;
	height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2011_clip,#u2098_clip,#u2066_clip,#u2075_clip
{
	overflow: hidden;
	width: 376px;
	height: 139px;
}

#u2098_img,#u2066_img,#u2075_img
{
	margin: 10px -2px;
}

#u2084
{
	z-index: 117;
	width: 376px;
	height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2084_img
{
	padding-top: 11px;
	padding-bottom: 10px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu2124
{
	width: 0.01px;
	margin-left: 1px;
}

#u2124
{
	z-index: 125;
	width: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2131-4
{
	z-index: 127;
	width: 181px;
	min-height: 47px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	color: #009BDA;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u2133-6
{
	z-index: 131;
	width: 379px;
	min-height: 85px;
	background-color: transparent;
	font-weight: bold;
	margin-top: 168px;
	position: relative;
}

#u2133-2
{
	font-size: 30px;
	line-height: 36px;
	color: #009BDA;
}

#u2133-4
{
	font-size: 24px;
	line-height: 29px;
	color: #99CC66;
}

#u1746
{
	z-index: 137;
	width: 372px;
	height: 644px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-top: 3px;
	margin-right: -10000px;
	position: relative;
}

#u2172-4
{
	z-index: 138;
	width: 111px;
	min-height: 22px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #99CC66;
	font-weight: normal;
	font-style: normal;
	margin-left: 1px;
	position: relative;
}

#ppu2173-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 24px;
}

#pu2173-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2173-4
{
	z-index: 142;
	width: 64px;
	min-height: 26px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #00A2E8;
	position: relative;
}

#u2174-4
{
	z-index: 146;
	width: 181px;
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	margin-left: 1px;
	margin-top: 10px;
	position: relative;
}

#u2181-4
{
	z-index: 152;
	width: 87px;
	min-height: 26px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #00A2E8;
	margin-top: 24px;
	position: relative;
}

#u2175
{
	z-index: 150;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 182px;
}

#u2182-14
{
	z-index: 156;
	width: 371px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#u2183-4
{
	z-index: 170;
	width: 178px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #00A2E8;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#u2184-4
{
	z-index: 174;
	width: 371px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u1748
{
	z-index: 178;
	width: 379px;
	height: 647px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1750
{
	z-index: 179;
	width: 379px;
	height: 647px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1752
{
	z-index: 180;
	width: 379px;
	height: 647px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u176
{
	z-index: 9;
	width: 360px;
	margin-top: 1px;
	padding: 9px 12px 16px 8px;
}

#page_position_content,#pu183
{
	width: 0.01px;
}

#u183
{
	z-index: 12;
	width: 24px;
	margin-right: -10000px;
}

#u189
{
	z-index: 14;
	width: 24px;
	margin-right: -10000px;
	left: 32px;
}

#u195
{
	z-index: 16;
	width: 24px;
	margin-right: -10000px;
	left: 64px;
}

#u207
{
	z-index: 10;
	width: 24px;
	margin-right: -10000px;
	left: 96px;
}

#u180-4
{
	z-index: 30;
	width: 97px;
	min-height: 24px;
	margin-right: -10000px;
	left: 140px;
}

#pu181-6
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 17px;
}

#u181-6
{
	z-index: 18;
	width: 150px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u182-6
{
	z-index: 24;
	width: 178px;
	min-height: 34px;
	margin-right: -10000px;
	left: 170px;
}

#u124
{
	z-index: 2;
	width: 380px;
	padding-bottom: 4px;
}

#u125-6
{
	z-index: 3;
	width: 380px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

