.version.pre_conference /* version checker */
{
	color: #000019;
	background-color: #2A7527;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #7F7F7F;
}

#pamphletu1207
{
	z-index: 37;
	width: 0.01px;
	height: 55px;
	padding-bottom: 204px;
	margin-right: -10000px;
}

#u1208
{
	z-index: 38;
	width: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 20px;
}

#u1210
{
	width: 14px;
	height: 82px;
	top: -29px;
	left: -20px;
}

#u1211
{
	width: 32px;
	top: -29px;
	left: -6px;
	padding: 29px 12px 25.19999999999999px 6px;
}

#u1211.PamphletThumbSelected
{
	width: 32px;
	min-height: 0px;
	margin: 0px;
}

#u1278
{
	z-index: 43;
	width: 32px;
	height: 5px;
}

#u1211.PamphletThumbSelected #u1278
{
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u1276
{
	z-index: 41;
	width: 32px;
	height: 5px;
	margin-top: 6px;
}

#u1211.PamphletThumbSelected #u1276
{
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u1277
{
	z-index: 42;
	width: 32px;
	height: 5px;
	margin-top: 5px;
}

#u1211.PamphletThumbSelected #u1277
{
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#u1214popup
{
	z-index: 44;
}

#u1214
{
	width: 178px;
	top: 81px;
}

#u1217
{
	z-index: 45;
	width: 178px;
	height: 178px;
	margin-right: -10000px;
}

.ie #u1210,.ie #u1217
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1216
{
	z-index: 46;
	width: 177px;
	height: 177px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#menuu1222
{
	z-index: 47;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1223
{
	width: 180px;
}

#u1224
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1224:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1224:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1227-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1224:hover #u1227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1224:active #u1227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1233
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1224.MuseMenuActive,#u1233:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1233:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1236-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1224.MuseMenuActive #u1227-4,#u1233:hover #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1233:active #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1238
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1233.MuseMenuActive,#u1238:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1238:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1241-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1233.MuseMenuActive #u1236-4,#u1238:hover #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1238:active #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1245
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1238.MuseMenuActive,#u1245:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1245:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1246-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1238.MuseMenuActive #u1241-4,#u1245:hover #u1246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1245:active #u1246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1230,#u1237,#u1244,#u1251
{
	width: 180px;
	margin-top: 2px;
}

#u1252
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1245.MuseMenuActive,#u1252:hover
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1252:active
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1252.MuseMenuActive
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1254-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1245.MuseMenuActive #u1246-4,#u1252:hover #u1254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1252:active #u1254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1252.MuseMenuActive #u1254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1273
{
	z-index: 36;
	width: 64px;
	height: 80px;
	margin-right: -10000px;
}

#u158
{
	z-index: 34;
	width: 315px;
	margin-right: -10000px;
	left: 64px;
}

#pu176
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 443px;
}

#u176
{
	z-index: 9;
	width: 360px;
	padding: 9px 12px 16px 8px;
}

#pu183
{
	width: 0.01px;
}

#u183
{
	z-index: 12;
	width: 24px;
	margin-right: -10000px;
}

#u189
{
	z-index: 14;
	width: 24px;
	margin-right: -10000px;
	left: 32px;
}

#u195
{
	z-index: 16;
	width: 24px;
	margin-right: -10000px;
	left: 64px;
}

#u207
{
	z-index: 10;
	width: 24px;
	margin-right: -10000px;
	left: 96px;
}

#u180-4
{
	z-index: 30;
	width: 97px;
	min-height: 24px;
	margin-right: -10000px;
	left: 140px;
}

#pu181-6
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 17px;
}

#u181-6
{
	z-index: 18;
	width: 150px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u182-6
{
	z-index: 24;
	width: 178px;
	min-height: 34px;
	margin-right: -10000px;
	left: 170px;
}

#u124
{
	z-index: 2;
	width: 380px;
	padding-bottom: 4px;
}

#u125-6
{
	z-index: 3;
	width: 380px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -442px;
}

